*, *::before, *::after 
    font-family: Montserrat, sans-serif 
    margin: 0
    padding: 0
    outline: none
a
    text-decoration: none

ul, ol, li 
    list-style: none
    margin: 0

html
    scroll-behavior: smooth
h1, h2, h3, h4, h5, h6 
    font-weight: inherit
    font-size: inherit


@import base/_var.sass
@import base/_mixin.sass

@import blocks/index/_header.sass
@import blocks/index/_carousel.sass
@import blocks/index/_subheader.sass
@import blocks/index/_aboutaus.sass
@import blocks/index/_text.sass
@import blocks/index/_servises.sass
@import blocks/index/_history.sass
@import blocks/index/_ourteam.sass
@import blocks/index/_portfolio.sass
@import blocks/index/_prices.sass
@import blocks/index/_space.sass
@import blocks/index/_blog.sass
@import blocks/index/_clients.sass
@import blocks/index/_reviews.sass
@import blocks/index/_map.sass
@import blocks/index/_footer.sass
@import blocks/index/_feed-form.sass
@import blocks/index/_modal.sass

@import blocks/blog/_subheader.sass   
@import blocks/blog/_main.sass  
@import blocks/blog/_sidebar.sass 
@import blocks/blog/_form.sass


@import blocks/posts/_subheader.sass
@import blocks/posts/_main.sass
@import blocks/posts/_comments-form.sass
// font-family: 'Crimson Text', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Stylish', sans-serif;