
    
*, *::before, *::after 
    font-family: Montserrat, sans-serif 
    margin: 0
    padding: 0
a
    text-decoration: none
ul, ol, li 
    list-style: none
    margin: 0
h1, h2, h3, h4, h5, h6 
    font-weight: inherit
    font-size: inherit


@import base/_var.sass
@import base/_mixin.sass

@import blocks/_header.sass
@import blocks/_carousel.sass
@import blocks/_subheader.sass
@import blocks/_aboutaus.sass
@import blocks/_text.sass
@import blocks/_rezult.sass
@import blocks/_servises.sass
@import blocks/_history.sass
@import blocks/_ourteam.sass
@import blocks/_portfolio.sass
@import blocks/_prices.sass
@import blocks/_space.sass
// font-family: 'Crimson Text', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Stylish', sans-serif;