.text
    padding-top: 60px
    &__title
        color: #3e3d3d
        font-size: 20px
        font-weight: 400
        text-align: center
        text-transform: uppercase
        letter-spacing: 0.44px
    &__line
        display: block
        margin-top: 27px
        margin: 0 auto
    &__paragraph
        margin: 0 auto
        margin-top: 41px
        width: 1026px
        text-align: justify