div.subheader__block
    p.subheader__paragraph Design Studio and Digital Agency
    h1.subheader__title WE ARE ATLANTIDA
    img.subheader__lines(src="img/main/header/lines.png", alt="decoration")
    button.subheader__button Get Started
    img.subheader__arrow-key(src="../img/main/header/icons/arrow_key.png" alt="decoration")

