div.subheader-main__block
    p.subheader-main__paragraph Design Studio and Digital Agency
    h1.subheader-main__title WE ARE ATLANTIDA
    img.subheader-main__lines(src="img/main/header/lines.png", alt="decoration")
    button.subheader-main__button Get Started
    img.subheader-main__arrow-key(src="../img/main/header/icons/arrow_key.png" alt="decoration")

