div#carouselExampleCaptions.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
        li(data-target="#carouselExampleCaptions" data-slide-to="0" class="active")
        li(data-target="#carouselExampleCaptions" data-slide-to="1")
        li(data-target="#carouselExampleCaptions" data-slide-to="2")
    div.carousel-inner
        div.carousel-item.active
            .d-block.w-100.reviews__carousel-bg
            div.carousel-caption.d-block.reviews__carousel-caption
                img.reviews__photo(src='../img/reviews/alex.png' alt="photo")
                .reviews__review Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
                .reviews__name ALEXANDR PODVALNY
                .reviews__company-name Free-PSD-Template.com Company
        div.carousel-item
            .d-block.w-100.reviews__carousel-bg
            div.carousel-caption.d-block.reviews__carousel-caption
                img.reviews__photo(src='../img/reviews/alex.png' alt="photo")
                .reviews__review Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
                .reviews__name ALEXANDR PODVALNY
                .reviews__company-name Free-PSD-Template.com Company
        div.carousel-item
            .d-block.w-100.reviews__carousel-bg
            div.carousel-caption.d-block.reviews__carousel-caption
                img.reviews__photo(src='../img/reviews/alex.png' alt="photo")  
                .reviews__review Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales              
                .reviews__name ALEXANDR PODVALNY
                .reviews__company-name Free-PSD-Template.com Company
    a.carousel-control-prev(href="#carouselExampleCaptions" role="button" data-slide="prev")
        span.carousel-control-prev-icon.reviews__carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
    a.carousel-control-next(href="#carouselExampleCaptions" role="button" data-slide="next")
        span.carousel-control-next-icon.reviews__carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next