extends ./template.pug
include ./mixins.pug
append title
    |  Post
append main_content
    section.subheader-post
        .subheader__nav
        h1.subheader-post__title POST WITH SIDEBAR
        img.subheader-post__line(src="img/posts/line_white.png" alt='line')
        p.subheader-post__paragraph Home > Blog
    .wrapper
        main.main-post(role='main')
            block post_content
            .main-post__social
                a(href="#")
                    img(src="img/posts/icons/facebook.png", alt="pic")
                a(href="#")
                    img(src="img/posts/icons/twiter.png", alt="pic")
                a(href="#")
                    img(src="img/posts/icons/google.png", alt="pic")
                a(href="#")
                    img(src="img/posts/icons/behance.png", alt="pic")
                a(href="#")
                    img(src="img/posts/icons/youtube.png", alt="pic")
            .main-post__comments
                h2.main-post__title.mt-66 
                    block commentsTitle
                        | COMMENTS
                block comments
            .main-post__form
                h2.main-post__title.mt-91 LEAVE A COMMENT
                form.comments-form.mt-46#comments-form(action="#" novalidate)
                    .comments-form__inputs-row
                        input(name="name" required placeholder="Name*" type="text")
                        input(name="email" required placeholder="E-mail*" type="email")
                    .comments-form__inputs-row
                        input(name="subject" required placeholder="Subject")
                        input(name="email" required placeholder="Website" type="text")
                    textarea(name="message" placeholder="Message")
                    button Submit
        include ./_sidebar.pug 