extends pug/template.pug
include pug/mixins.pug
append title
    |  Blog
append main_content
    section.subheader-blog
        .subheader__nav
        h1.subheader-blog__title BLOG WITH SIDEBAR
        img.subheader-blog__line(src="img/blog/header/line_white.png" alt='line')
        p.subheader-blog__paragraph Home > Blog