extends pug/template.pug
include pug/mixins.pug
append title
    |  Blog
append main_content
    append variables
        - currentURL = 'blog.html';
    section.subheader-blog
        .subheader__nav
        h1.subheader-blog__title BLOG WITH SIDEBAR
        img.subheader-blog__line(src="img/blog/header/line_white.png" alt='line')
        p.subheader-blog__paragraph Home > Blog
    .wrapper
        main.main-blog(role='main')
            include pug/_pages_of_blog.pug
            .main-blog__line
            .main-blog__switch
                .main-blog__prev
                    | &#8249;
                .main-blog__page.main-blog__page_active
                    | 1
                .main-blog__page
                    | 2
                .main-blog__page
                    | 3
                .main-blog__next
                    | &#8250;
        include pug/_sidebar.pug
        
