extends pug/template.pug
include pug/mixins.pug
append title
    |  Home
append subheader
    .subheader__main
        .subheader__nav
        div#carouselExampleControls.carousel.slide(data-ride="carousel")
            div.carousel-inner
                div.carousel-item.active
                    img(src="img/header/bg_header.jpg" class="d-block w-100" alt="background")
                    include pug/_block_for_main_subheader.pug
                div.carousel-item
                    img(src="img/header/bg_header.jpg" class="d-block w-100" alt="background")
                    include pug/_block_for_main_subheader.pug
                div.carousel-item
                    img(src="img/header/bg_header.jpg" class="d-block w-100" alt="background")
                    include pug/_block_for_main_subheader.pug
            a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
            a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
    section.aboutus
        .aboutus__card
            img.aboutus__img(src="img/about_us/bg_about.jpg", alt="pic")
            .aboutus__text-block
                +text(
                    'ABOUT US', 
                    'img/black_line.png', 
                    'Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque. Maecenas est enim, sollicitudin sit amet nisi vel, mattis efficitur sapien. Nulla lobortis dui in aliquam placerat. Maecenas commodo odio nec neque imperdiet sagittis. Fusce mauris tellus, vulputate id finibus a, rutrum et justo. Vivamus at eros sed justo laoreet mattis vulputate vel magna. Sed quis pulvinar quam, et tempus purus. Fusce et nisi eget dui hendrerit iaculis. Cras volutpat augue tempor viverra tincidunt. Maecenas interdum scelerisque enim. Aenean interdum leo ac lectus gravida, id tincidunt sem finibus. Curabitur ac arcu blandit, tempus leo id, ultrices ante.'
                )  
                .aboutus__buttons
                    button.aboutus__button.aboutus__button_black Contact Us
                    button.aboutus__button.aboutus__button_white Portfolio
            .aboutus__results
                +rezult("img/about_us/about/awards.png", 'AWARDS', 'WINNER', 54)
                +rezult("img/about_us/about/done.png", 'JOBS', 'DONE', 1054)
                +rezult("img/about_us/about/clients.png", 'HAPPY', 'CLIENTS', 120)
                +rezult("img/about_us/about/reviews.png", 'reviews', 'recieved', 54)
    section.servises
        - colorTitle = 'white';
        - colorParag = 'light';
        - center = true;
        +text(
            'SERVICES', 
            'img/white_line.png', 
            'Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque. '
        )
        .container
            .col-md-3
                +servicesCards('img/servises/icons/graphic.png', 'graphic', 'GRAPHIC', 'DESIGN', 
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.'
                )
            .col-md-3
                +servicesCards('img/servises/icons/website.png', 'website', 'WEBSITE', 'DESIGN', 
                'Nunc non sem vitae neque tristique pellentesque. Donec vitae vehicula mauris. Proin elementum mauris ut ante tristique rutrum. Quisque tristique, dui iaculis commodo consectetur, libero nibh tincidunt tortor, in sollicitudin arcu tellus non puruslibero nibh tincidunt tortor, in sollicitudin arcu.'
                )
            .col-md-3
                +servicesCards('img/servises/icons/seo.png', 'seo', 'SEO &', 'ANALITYCS', 
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.'
                )
            .col-md-3
                +servicesCards('img/servises/icons/wordpress.png', 'wordpress', 'WORDPRESS', 'PROGRAMING', 
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.'
                )