extends pug/template.pug
include pug/mixins.pug
append title
    |  Home
append main_content
    section.subheader__main
        .subheader__nav
        div#carouselExampleControls.carousel.slide(data-ride="carousel")
            div.carousel-inner
                div.carousel-item.active
                    .d-block.w-100.carousel-bg
                    include pug/_block_for_main_subheader.pug
                div.carousel-item
                    .d-block.w-100.carousel-bg
                    include pug/_block_for_main_subheader.pug
                div.carousel-item
                    .d-block.w-100.carousel-bg
                    include pug/_block_for_main_subheader.pug
            a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
            a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
    section.aboutus
        .aboutus__card
            img.aboutus__img(src="img/about_us/bg_about.jpg", alt="pic")
            .aboutus__text-block
                +text(
                    'ABOUT US', 
                    'img/black_line.png', 
                    'Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque. Maecenas est enim, sollicitudin sit amet nisi vel, mattis efficitur sapien. Nulla lobortis dui in aliquam placerat. Maecenas commodo odio nec neque imperdiet sagittis. Fusce mauris tellus, vulputate id finibus a, rutrum et justo. Vivamus at eros sed justo laoreet mattis vulputate vel magna. Sed quis pulvinar quam, et tempus purus. Fusce et nisi eget dui hendrerit iaculis. Cras volutpat augue tempor viverra tincidunt. Maecenas interdum scelerisque enim. Aenean interdum leo ac lectus gravida, id tincidunt sem finibus. Curabitur ac arcu blandit, tempus leo id, ultrices ante.'
                )  
                .aboutus__buttons
                    button.aboutus__button.aboutus__button_black Contact Us
                    button.aboutus__button.aboutus__button_white Portfolio
            .aboutus__results
                +rezult("img/about_us/about/awards.png", 'AWARDS', 'WINNER', 54)
                +rezult("img/about_us/about/done.png", 'JOBS', 'DONE', 1054)
                +rezult("img/about_us/about/clients.png", 'HAPPY', 'CLIENTS', 120)
                +rezult("img/about_us/about/reviews.png", 'reviews', 'recieved', 54)
    section.services
        - colorTitle = 'white';
        - colorParag = 'light';
        - center = true;
        +text(
            'SERVICES', 
            'img/white_line.png', 
            'Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque. '
        )
        .services__container
            +servicesCards('img/servises/icons/graphic.png', 'GRAPHIC', 'DESIGN', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.')
            +servicesCards('img/servises/icons/website.png', 'WEBSITE', 'DESIGN', 'Nunc non sem vitae neque tristique pellentesque. Donec vitae vehicula mauris. Proin elementum mauris ut ante tristique rutrum. Quisque tristique, dui iaculis commodo consectetur, libero nibh tincidunt tortor, in sollicitudin arcu tellus non puruslibero nibh tincidunt tortor, in sollicitudin arcu.')
            +servicesCards('img/servises/icons/seo.png', 'SEO &', 'ANALITYCS', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.')
            +servicesCards('img/servises/icons/wordpress.png', 'WORDPRESS', 'PROGRAMING', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.')
    section.history
        - colorTitle = 'black';
        - colorParag = 'dark';
        - center = true;
        +text(
            'HISTORY', 
            'img/black_line.png', 
            'In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet.'
        )
        .history__year.mt 2015
        .history__content
            .history__left-side
                .history__block
                    .history__title Donec id lobortis tellus. Maecenas vel dignissim
                    .history__date 07 October 2015
                    .history__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .history__right-side
        .history__year 2014
        .history__content
            .history__left-side
            .history__right-side
        .history__icon
            img(src='img/servises/icons/graphic.png', alt='lamp')